@use "/src/app/styles/abstracts/variables";
@use "/src/app/styles/abstracts/mixins";


.comment-wrapper {
  display: flex;
  flex-direction: row;

  .user {
    display: flex;
    flex-direction: row;

    .name {
      display: flex;
      align-items: center;
      font-weight: 600;
    }

    app-profile-avatar {
      width: 35px;
      margin-right: 1rem;
      cursor: pointer;
    }
  }

  .comment {
    padding-top: 1rem;
    display: flex;
    align-items: center;
  }

  .no-comments {
    text-align: center;
    color: variables.$text-muted-color;
    justify-content: center;
  }
}

.divider {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  background: transparent;
}

.spinner-wrapper {
  @include mixins.py(5rem);
  display: flex;
  justify-content: center;
}
