<div class="menu" [ngClass]="{'native':!menuForMobile}">
  <div class="user-info">
    <h1 *ngIf="!menuForMobile" class="logo" [routerLink]="AppRoutes.home">
      <app-logo-text></app-logo-text>
    </h1>
    <ng-container *ngIf="auth.user$ | async as user; else userLoadingSpinner">
      <div class="avatar-wrapper">
        <app-profile-avatar [avatarImgPath]="user.picture ?? getDefaultUserPicture(user.name)"
                            [routerLink]="getRouteLink([AppRoutes.user])">
        </app-profile-avatar>
      </div>
      <h4 *ngIf="menuForMobile" class="username">{{ user.name }}</h4>

    </ng-container>
    <ng-template #userLoadingSpinner>
      <div class="profile-spinner-wrapper">
        <mat-spinner></mat-spinner>
      </div>
    </ng-template>
  </div>
  <div>
    <ul class="drawer-links">
      <li><h3
        class="link"
        [routerLink]="getRouteLink([AppRoutes.activities])"
        (click)="closeDrawer.emit()"
        [appActiveLink]="AppRoutes.activities"
        id="all-activities">
        News
      </h3></li>
      <li><h3
        class="link"
        [routerLink]="getRouteLink([AppRoutes.activities,ActivitiesRoutes.myActivities])"
        [appActiveLink]="ActivitiesRoutes.myActivities"
        (click)="closeDrawer.emit()"
        id="my-activities">
        My Activities
      </h3></li>
      <li><h3
        class="link"
        [routerLink]="getRouteLink([AppRoutes.activities,ActivitiesRoutes.likedActivities])"
        [appActiveLink]="ActivitiesRoutes.likedActivities"
        (click)="closeDrawer.emit()"
        id="liked-activities">
        Liked Activities
      </h3></li>
      <li><h3
        class="link"
        [routerLink]="getRouteLink([AppRoutes.planner])"
        [appActiveLink]="AppRoutes.planner"
        (click)="closeDrawer.emit()"
        id="planner">
        Planner
      </h3></li>
      <li><h3
        class="link"
        [routerLink]="getRouteLink([AppRoutes.events])"
        [appActiveLink]="AppRoutes.events"
        (click)="closeDrawer.emit()"
        id="events">
        Events
      </h3></li>
      <li><h3
        class="link"
        [routerLink]="getRouteLink([AppRoutes.leaderboard])"
        [appActiveLink]="AppRoutes.leaderboard"
        (click)="closeDrawer.emit()"
        id="leaderboard">
        Leaderboard
      </h3></li>
      <li><h3
        class="link"
        [routerLink]="getRouteLink([AppRoutes.user,AppRoutes.followers])"
        [appActiveLink]="AppRoutes.followers"
        (click)="closeDrawer.emit()"
        id="followers">
        Followers
      </h3></li>
      <li><h3
        class="link"
        [routerLink]="getRouteLink([AppRoutes.user,AppRoutes.following])"
        [appActiveLink]="AppRoutes.following"
        (click)="closeDrawer.emit()"
        id="following">
        Following
      </h3></li>
    </ul>
  </div>
</div>
