<div class="menu" [ngClass]="{'native':!menuForMobile}">
  <div class="user-info">
    <h1 *ngIf="!menuForMobile" class="logo" [routerLink]="AppRoutes.home">
      <app-logo-text></app-logo-text>
    </h1>
    <div class="avatar-wrapper">
      <app-profile-avatar></app-profile-avatar>
    </div>
    <h4 *ngIf="menuForMobile" class="username">Johnny Doe</h4>
  </div>
  <div>
    <ul class="drawer-links">
      <li><h3
        class="link"
        [routerLink]="getRouteLink(AppRoutes.activities)"
        [appActiveLink]="AppRoutes.activities"
        id="all-activities">
        News
      </h3></li>
      <li><h3
        class="link"
        [routerLink]="getRouteLink(AppRoutes.yourActivities)"
        [appActiveLink]="AppRoutes.yourActivities"
        id="your-activities">
        Your Activities
      </h3></li>
      <li><h3
        class="link"
        [routerLink]="getRouteLink(AppRoutes.planner)"
        [appActiveLink]="AppRoutes.planner"
        id="planner">
        Planner
      </h3></li>
      <li><h3
        class="link"
        [routerLink]="getRouteLink(AppRoutes.events)"
        [appActiveLink]="AppRoutes.events"
        id="events">
        Events
      </h3></li>
      <li><h3
        class="link"
        [routerLink]="getRouteLink(AppRoutes.leaderboard)"
        [appActiveLink]="AppRoutes.leaderboard"
        id="leaderboard">
        Leaderboard
      </h3></li>
      <li><h3
        class="link"
        [routerLink]="getRouteLink(AppRoutes.likedRoutes)"
        [appActiveLink]="AppRoutes.likedRoutes"
        id="liked-routes">
        Liked routes
      </h3></li>
      <li><h3
        class="link"
        [routerLink]="getRouteLink(AppRoutes.followers)"
        [appActiveLink]="AppRoutes.followers"
        id="followers">
        Followers
      </h3></li>
      <li><h3
        class="link"
        [routerLink]="getRouteLink(AppRoutes.following)"
        [appActiveLink]="AppRoutes.following"
        id="following">
        Following
      </h3></li>
    </ul>
  </div>
</div>
