<div class="menu" [ngClass]="{'native':!menuForMobile}">
  <div class="user-info">
    <h1 *ngIf="!menuForMobile" class="logo" [routerLink]="homeRouterLink">
      <app-logo-text [withVersion]="true"></app-logo-text>
    </h1>
    <ng-container *ngIf="withAvatar; else dividerTemplate">
      <ng-container *ngIf="currentUserService.currentUser$ | async as user; else userLoadingSpinner">
        <div class="avatar-wrapper">
          <app-profile-avatar id="user-avatar"
                              [fadeIn]="false"
                              [nickname]="user.nickname"
                              [avatarImgPath]="user.profilePicture"
                              [userId]="user.id">
          </app-profile-avatar>
        </div>
        <label for="user-avatar" *ngIf="menuForMobile" class="username">{{ user.nickname }}</label>
      </ng-container>
      <ng-template #userLoadingSpinner>
        <div class="profile-spinner-wrapper">
          <mat-spinner></mat-spinner>
        </div>
      </ng-template>
    </ng-container>
    <ng-template #dividerTemplate>
      <div class="divider"></div>
    </ng-template>
  </div>
  <div style="flex:1; overflow: auto">
    <ul class="drawer-links" *ngIf="currentUserService.currentUser$ | async as user">
      <li><h3
        class="link"
        [routerLink]="this.getRouteLink([AppRoutes.activities, user.id.toString(), ActivitiesRoutes.wall, ActivitiesRoutes.completed])"
        [routerLinkActive]="'active'"
        id="wall">
        Wall
      </h3></li>
      <li><h3
        class="link"
        [routerLink]="this.getRouteLink([AppRoutes.activities, user.id.toString(), ActivitiesRoutes.completed])"
        [routerLinkActive]="'active'"
        (click)="onLinkClick()"
        id="my-activities">
        Activities
      </h3></li>
      <li><h3
        class="link"
        [routerLink]="this.getRouteLink([AppRoutes.activities, user.id.toString(), ActivitiesRoutes.planned])"
        [routerLinkActive]="'active'"
        (click)="onLinkClick()"
        id="my-planned-routes">
        Planned routes
      </h3></li>
      <li><h3
        class="link"
        [routerLink]="this.getRouteLink([AppRoutes.activities, user.id.toString(), ActivitiesRoutes.events])"
        [routerLinkActive]="'active'"
        (click)="onLinkClick()"
        id="my-events">
        Events
      </h3></li>
      <li><h3
        class="link"
        [routerLinkActive]="'active'"
        (click)="onLinkClick()"
        [routerLink]="this.getRouteLink([AppRoutes.activities, user.id.toString(), ActivitiesRoutes.liked])"
        id="liked-activities">
        Liked Activities
      </h3></li>
      <li><h3
        class="link"
        [routerLink]="getRouteLink([AppRoutes.leaderboard])"
        [routerLinkActive]="'active'"
        (click)="onLinkClick()"
        id="leaderboard">
        Leaderboard
      </h3></li>
      <li><h3
        class="link"
        [routerLink]="this.getRouteLink([AppRoutes.user, user.id.toString(), UserRoutes.followers])"
        [routerLinkActive]="'active'"
        (click)="onLinkClick()"
        id="followers">
        Followers
      </h3></li>
      <li><h3
        class="link"
        [routerLinkActive]="'active'"
        (click)="onLinkClick()"
        [routerLink]="this.getRouteLink([AppRoutes.user, user.id.toString(), UserRoutes.followings])"
        id="following">
        Following
      </h3></li>
      <li><h3
        class="link"
        (click)="onLinkClick()"
        [routerLinkActive]="'active'"
        [routerLink]="getRouteLink([AppRoutes.findFriends])"
        id="find-friends">
        Find friends
      </h3></li>
      <li>
        <h3
          class="link"
          (click)="logout()"
          id="logout">
          <span class="logout-text">Logout</span>
          <mat-icon class="icon">logout</mat-icon>
        </h3>
      </li>
    </ul>
  </div>
</div>
