<div class="container">
  <app-aside-layout [withAvatar]="false">
    <div class="content">
      <app-glass-card [borderRadius]="'0'">
        <div class="card-content">
          <div class="row">
            <app-profile-avatar [avatarImgPath]="user.profilePicture"
                                [nickname]="user.nickname"
                                [userId]="user.id">
            </app-profile-avatar>
            <div class="basic-info">
              <div class="name-and-bio">
                <div class="name-and-follow-btn">
                  <div class="name">{{ user.nickname }}</div>
                  <ng-container *ngIf="currentUserService.currentUser$ | async as currentUser">
                    <div *ngIf="currentUser.id!== user.id " class="follow-btn-wrapper">
                      <app-glass-btn class="follow-btn" [paddingY]="'0'" (click)="onFollowClick()">
                        <mat-icon class="icon">
                          {{alreadyFollowed ? 'close' : 'add'}}
                        </mat-icon>
                        <span>{{ alreadyFollowed ? 'Unfollow' : 'Follow'}}</span>
                      </app-glass-btn>
                    </div>
                  </ng-container>
                </div>
                <div *ngIf="user.bio" class="bio">
                  <span>{{user.bio }}</span>
                </div>
              </div>
            </div>
            <div class="native-stats">
              <ng-container [ngTemplateOutlet]="distanceTravelledTemplate"></ng-container>
              <ng-container [ngTemplateOutlet]="timeInMotionTemplate"></ng-container>
              <ng-container [ngTemplateOutlet]="followStatsTemplate"></ng-container>
              <ng-container [ngTemplateOutlet]="likeStatsTemplate"></ng-container>
            </div>
          </div>
          <hr class="native-hide">
          <div class="row native-hide stats">
            <div class="column native-hide">
              <ng-container [ngTemplateOutlet]="distanceTravelledTemplate"></ng-container>
              <ng-container [ngTemplateOutlet]="followStatsTemplate"></ng-container>
            </div>
            <div class="column native-hide">
              <ng-container [ngTemplateOutlet]="timeInMotionTemplate"></ng-container>
              <ng-container [ngTemplateOutlet]="likeStatsTemplate"></ng-container>
            </div>
          </div>
          <hr>
          <div class="row stats personal-stats">
            <div class="column">
              <div>
                <mat-icon class="icon">child_care</mat-icon>
                <span class="label">Joined:</span>
                <span class="value">{{user.dateJoined | date:'mediumDate'}}</span>
              </div>
              <div>
                <mat-icon class="icon">location_city</mat-icon>
                <span class="label">Location:</span>
                <span class="value">{{user.city || 'Not specified'}}</span>
              </div>
            </div>
            <div class="column">
              <div>
                <mat-icon class="icon">{{ userGenderIcon }}</mat-icon>
                <span class="label">Gender:</span>
                <span class="value">{{ (user.gender || Gender.notSpecified) | titlecase }}</span>
              </div>
              <div>
                <mat-icon class="icon">fitness_center</mat-icon>
                <span class="label">Weight:</span>
                <span class="value">{{userWeightText}}</span>
              </div>
            </div>
          </div>
          <hr>
          <div class="links">
            <app-glass-btn [paddingY]="'0'" (click)="navigateToActivities()">
              <mat-icon class="icon">directions_bike</mat-icon>
              <span>Activities</span>
            </app-glass-btn>
            <app-glass-btn [paddingY]="'0'" (click)="navigateToPlannedRoutes()">
              <mat-icon class="icon">lightbulb</mat-icon>
              <span>Planned routes</span>
            </app-glass-btn>
            <app-glass-btn [paddingY]="'0'" (click)="navigateToEvents()">
              <mat-icon class="icon">event</mat-icon>
              <span>Events</span>
            </app-glass-btn>
            <app-glass-btn [paddingY]="'0'" (click)="navigateToLiked()">
              <mat-icon class="icon liked-activities">favorite</mat-icon>
              <span>Liked activities</span>
            </app-glass-btn>
            <app-glass-btn [paddingY]="'0'" (click)="navigateToFollowers()">
              <mat-icon class="icon">people</mat-icon>
              <span>Followers</span>
            </app-glass-btn>
            <app-glass-btn [paddingY]="'0'" (click)="navigateToFollowings()">
              <mat-icon class="icon">groups</mat-icon>
              <span>Followings</span>
            </app-glass-btn>
          </div>
          <hr>
          <div class="plot">
            monthly activities
          </div>
          <div class="plot">
            monthly distance
          </div>
          <div class="plot">
            monthly elevation
          </div>
          <div class="plot">
            monthly speed
          </div>
        </div>
      </app-glass-card>
    </div>
  </app-aside-layout>
</div>

<ng-template #likeStatsTemplate>
  <div>
    <span class="label">Received reactions:</span>
    <span class="value">{{user.allTimeStatistics.totalReceivedReactions}}</span>
  </div>
  <div>
    <span class="label">Given likes:</span>
    <span class="value">{{user.allTimeStatistics.totalGivenReactions}}</span>
  </div>
</ng-template>

<ng-template #followStatsTemplate>
  <div>
    <span class="label">Followers:</span>
    <span class="value">{{user.allTimeStatistics.followers}}</span>
  </div>
  <div>
    <span class="label">Following:</span>
    <span class="value">{{user.allTimeStatistics.followings}}</span>
  </div>
</ng-template>

<ng-template #distanceTravelledTemplate>
  <div>
    <span class="label">Distance travelled:</span>
    <span class="value">{{ user.allTimeStatistics.totalDistanceTravelled | lengthUnit | number:".0-2"}} km</span>
  </div>
</ng-template>

<ng-template #timeInMotionTemplate>
  <div>
    <span class="label">Time in motion:</span>
    <span class="value">{{ timeInMotionText }}</span>
  </div>
</ng-template>
