<div class="container">
  <app-aside-layout [withAvatar]="false">
    <div class="content">
      <app-glass-card [borderRadius]="'0'">
        <div class="card-content">
          <div class="row">
            <app-profile-avatar [avatarImgPath]="user.profilePicture"
                                [nickname]="user.nickname"
                                [userId]="user.id"></app-profile-avatar>
            <div class="basic-info">
              <div class="name-and-bio">
                <div class="name-and-follow-btn">
                  <div class="name">{{ user.nickname }}</div>
                  <ng-container *ngIf="currentUserService.currentUser$ | async as currentUser">
                    <div *ngIf="currentUser.id!== user.id " class="follow-btn-wrapper">
                      <app-glass-btn class="follow-btn" [paddingY]="'0'" (click)="onFollowClick()">
                        <mat-icon class="icon">
                          {{alreadyFollowed ? 'close' : 'add'}}
                        </mat-icon>
                        <span>{{ alreadyFollowed ? 'Unfollow' : 'Follow'}}</span>
                      </app-glass-btn>
                    </div>
                  </ng-container>
                </div>
                <div *ngIf="user.bio" class="bio">
                  <span>{{user.bio}}</span>
                </div>
              </div>
              <div class="mobile-distance" [ngStyle]="{'margin-top':user.bio ? '0' : '1rem' }">
                <ng-container [ngTemplateOutlet]="distanceStatsTemplate"></ng-container>
              </div>
            </div>
            <div class="native-stats">
              <ng-container [ngTemplateOutlet]="distanceStatsTemplate"></ng-container>
              <ng-container [ngTemplateOutlet]="followStatsTemplate"></ng-container>
              <ng-container [ngTemplateOutlet]="likeStatsTemplate"></ng-container>
            </div>
          </div>
          <hr class="mobile-hide">
          <div class="row mobile-hide" style="justify-content: space-between; margin-top: 1rem">
            <div class="follow">
              <ng-container [ngTemplateOutlet]="followStatsTemplate"></ng-container>
            </div>
            <div class="likes">
              <ng-container [ngTemplateOutlet]="likeStatsTemplate"></ng-container>
            </div>
          </div>
          <hr>
          <div class="links">
            <app-glass-btn [paddingY]="'0'" (click)="navigateToActivities()">
              <mat-icon class="icon">directions_bike</mat-icon>
              <span>Activities</span>
            </app-glass-btn>
            <app-glass-btn [paddingY]="'0'" (click)="navigateToPlannedRoutes()">
              <mat-icon class="icon">lightbulb</mat-icon>
              <span>Planned routes</span>
            </app-glass-btn>
            <app-glass-btn [paddingY]="'0'" (click)="navigateToEvents()">
              <mat-icon class="icon">event</mat-icon>
              <span>Events</span>
            </app-glass-btn>
            <app-glass-btn [paddingY]="'0'" (click)="navigateToLiked()">
              <mat-icon class="icon liked-activities">favorite</mat-icon>
              <span>Liked activities</span>
            </app-glass-btn>
            <app-glass-btn [paddingY]="'0'" (click)="navigateToFollowers()">
              <mat-icon class="icon">people</mat-icon>
              <span>Followers</span>
            </app-glass-btn>
            <app-glass-btn [paddingY]="'0'" (click)="navigateToFollowings()">
              <mat-icon class="icon">groups</mat-icon>
              <span>Followings</span>
            </app-glass-btn>
          </div>
          <hr>
          <div class="plot">
            monthly activities
          </div>
          <div class="plot">
            monthly distance
          </div>
          <div class="plot">
            monthly elevation
          </div>
          <div class="plot">
            monthly speed
          </div>
        </div>
      </app-glass-card>
    </div>
  </app-aside-layout>
</div>

<ng-template #likeStatsTemplate>
  <div>
    <span class="label">Received likes:</span>
    <span class="value">23</span>
  </div>
  <div>
    <span class="label">Given likes:</span>
    <span class="value">12</span>
  </div>
</ng-template>

<ng-template #followStatsTemplate>
  <div>
    <span class="label">Followers:</span>
    <span class="value">25</span>
  </div>
  <div>
    <span class="label">Following:</span>
    <span class="value">43</span>
  </div>
</ng-template>

<ng-template #distanceStatsTemplate>
  <div>
    <span class="label">Distance travelled:</span>
    <span class="value">1050km</span>
  </div>
  <div>
    <span class="label">Time in motion:</span>
    <span class="value">51:49h</span>
  </div>
</ng-template>
