@use "/src/app/styles/abstracts/mixins";
@use "/src/app/styles/abstracts/functions";
@use "/src/app/styles/abstracts/variables";

.container {
  @include mixins.bg-fill();
  @include mixins.max-viewport();
  background-image: functions.image("activities-bg-3.jpg");

  .content {
    height: 100vh;
    width: 100%;

    @include mixins.media(sm-small) {
      width: 90%;
    }

    @include mixins.media(sm-large) {
      width: 85%;
    }

    app-scroll-container {
      width: 100%;
      height: 100%;
    }

    app-glass-card {
      height: 100%;
      width: 100%;

      .card-content {
        //background: red;

        @include mixins.py(0.5rem);
        @include mixins.px(0rem);

        @include mixins.media(sm-xsmall) {
          @include mixins.py(1rem);
          @include mixins.px(1rem);
        }

        @include mixins.media(md-large) {
          @include mixins.px(2.5rem);
        }

        .row {
          display: flex;
          flex-direction: row;
          align-items: center;
          //margin-bottom: 1rem;
          margin: 1rem 0;
        }

        app-profile-avatar {
          margin-right: 1rem;
          width: 30%;

          @include mixins.media(xs-medium) {
            width: 25%;
          }

          @include mixins.media(sm-xsmall) {
            width: 15%;
          }

          @include mixins.media(sm-large) {
            width: 20%;
          }

          @include mixins.media(md-small) {
            margin-right: 2rem;
            width: 15%;
          }

          @include mixins.media(lg-large) {
            margin-right: 3rem;
            width: 10%;
          }
        }

        .basic-info {
          //background: red;
          display: flex;
          flex-direction: column;
          flex: 1;

          .name-and-bio {
            flex: 1;
            display: flex;
            flex-direction: column;

            .name-and-follow-btn {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              justify-content: center;

              @include mixins.media(xs-medium) {
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
              }

              @include mixins.media(md-small) {
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
              }

              .name {
                height: 50%;
                //background: dimgray;
                display: flex;
                align-items: center;
                font-size: 20px;
                font-weight: 600;
                margin-right: 1rem;
              }

              .follow-btn-wrapper {
                display: flex;
                justify-content: flex-end;
                flex: 1;
                @include mixins.media(md-small) {
                  width: 100%;
                  justify-content: flex-start;
                }

                .follow-btn {
                  width: 100%;
                  max-width: 150px;
                  margin-top: 1rem;

                  @include mixins.media(xs-medium) {
                    margin-top: 0;
                  }

                  @include mixins.media(md-small) {
                    margin-top: 1rem;
                  }
                }
              }
            }

            .bio {
              @include mixins.py(1rem);
              height: 50%;
              display: flex;
              align-items: center;
            }
          }
        }

        .native-stats {
          //background: cornflowerblue;
          flex: 1;
          display: none;
          flex-direction: column;
          margin-left: 2rem;

          @include mixins.media(md-small) {
            display: flex;
          }

          @include mixins.media(md-large) {
            margin-left: 6rem;
          }

          @include mixins.media(lg-small) {
            margin-left: 12rem;
          }

          .label {
            flex: 1;
            font-weight: 600;
          }

          .value {
            display: flex;
            justify-content: flex-end;
            align-items: center;
          }

          div {
            display: flex;
            flex-direction: row;
            margin-bottom: 0.5rem;
          }
        }

        .personal-stats {
          .icon {
            display: none;
          }

          @include mixins.media(md-small) {
            width: 85%;
            margin: 0 auto;
          }

          @include mixins.media(md-large) {
            width: 70%;
          }

          @include mixins.media(lg-small) {
            //width: 60%;
            width: 100%;

            .column {
              @include mixins.my(1rem);
              flex-direction: row;
              width: 50%;

              div {
                width: 50%;
                justify-content: center;

                .icon {
                  display: block;
                }

                .label {
                  flex: 0;
                }

                .value {
                  margin-left: 1rem;
                }

              }
            }
          }

          //@include mixins.media(lg-large){
          //  width: 50%;
          //}
        }

        .stats {
          display: flex;
          flex-flow: row wrap;
          justify-content: space-between;
          //margin-top: 1.5rem;
        }

        .column {
          @include mixins.px(0.5rem);
          margin: 0 auto;
          display: flex;
          flex-direction: column;
          width: 45%;
          min-width: 230px;

          .label {
            flex: 1;
            font-weight: 600;
          }

          .value {
            display: flex;
            justify-content: flex-end;
          }

          div {
            @include mixins.py(0.25rem);
            @include mixins.my(auto);
            display: flex;
            flex-direction: row;
            align-items: center;
          }
        }

        .plot-wrapper {
          margin-top: 1rem;
          display: flex;
          flex-direction: column;
        }

        .links {
          display: flex;
          flex-flow: row wrap;
          justify-content: space-evenly;

          @include mixins.media(md-small) {
            justify-content: center;
          }

          app-glass-btn {
            margin-right: 1rem;
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
            width: 200px;
          }

          //justify-content: space-between;
        }
      }
    }

    span {
      word-wrap: break-word;
      text-overflow: ellipsis;
    }

    hr {
      border-color: variables.$text-muted-color;
      opacity: 0.1;
    }

    .icon {
      margin-right: 0.5rem;
    }
  }
}

.native-hide {
  display: flex;
  @include mixins.media(md-small) {
    display: none !important;
  }
}

.spinner-wrapper {
  @include mixins.py(5rem);
  display: flex;
  justify-content: center;
}
