<mat-action-list>
  <button mat-list-item (click)="navigate(ActivitiesRoutes.completed)"
          [ngClass]="{'disabled':activatedRouteType==ActivitiesRoutes.completed}">
    <mat-icon class="icon">directions_bike</mat-icon>
    <span>Activities</span>
  </button>
  <button mat-list-item (click)="navigate(ActivitiesRoutes.events)"
          [ngClass]="{'disabled':activatedRouteType==ActivitiesRoutes.events}">
    <mat-icon class="icon">event</mat-icon>
    <span>Events</span>
  </button>
  <button mat-list-item (click)="navigate(ActivitiesRoutes.planned)"
          [ngClass]="{'disabled':activatedRouteType==ActivitiesRoutes.planned}">
    <mat-icon class="icon">lightbulb</mat-icon>
    <span>Planned routes</span>
  </button>
</mat-action-list>
