@use "/src/app/styles/abstracts/mixins";
@use "/src/app/styles/abstracts/variables";
@use "/src/app/styles/abstracts/functions";

.container {
  @include mixins.bg-fill();
  @include mixins.max-viewport();
  background-image: functions.image("activities-bg.jpg");

  .content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .mobile-logo {
      @include mixins.my(1rem);
    }

    .card-wrapper {
      $card-border: 25px;
      width: 95%;
      overflow: hidden;
      height: 100%;
      transition: 1s;

      @include mixins.media(sm-medium) {
        width: 85%;
      }

      @include mixins.media(sm-large) {
        width: 100%;
      }

      @include mixins.media(md-small) {
        width: 90%;
        ::ng-deep mat-card {
          border-radius: $card-border;
        }
      }

      @include mixins.media(md-large) {
        width: 90%;
      }

      @include mixins.media(lg-small) {
        width: 80%;
      }

      @include mixins.media(lg-large) {
        width: 65%;
      }

      @include mixins.media(lg-xlarge) {
        width: 55%;
      }

      .activity-card {
        margin-bottom: 2rem;
      }
    }
  }
}

.spinner-wrapper {
  display: flex;
  justify-content: center;
  margin: 2.5rem;
}
