@use "/src/app/styles/abstracts/mixins";
@use "/src/app/styles/abstracts/variables";
@use "/src/app/styles/abstracts/functions";

.container {
  @include mixins.bg-fill();
  @include mixins.max-viewport();
  background-image: functions.image("activities-bg-3.jpg");

  .content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .card-wrapper {
      $card-border: 25px;
      width: 95%;
      margin-top: 2.5rem;
      overflow: hidden;
      height: 100%;

      @include mixins.media(sm-medium) {
        width: 85%;
      }

      @include mixins.media(sm-large) {
        width: 100%;

        ::ng-deep mat-card {
          border-radius: 0;
        }
      }

      @include mixins.media(md-small) {
        width: 90%;
        ::ng-deep mat-card {
          border-radius: $card-border;
        }
      }

      @include mixins.media(md-large) {
        width: 70%;
      }

      @include mixins.media(lg-small) {
        width: 60%;
      }

      @include mixins.media(lg-large) {
        width: 50%;
      }

      .activity-card {
        margin-bottom: 2rem;

        .card-content {
          display: flex;
          flex-direction: column;
          height: 500px;
          @include mixins.px(1rem);

          .user-info {
            height: fit-content;
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;

            app-profile-avatar {
              width: 50px;
              margin-right: 1rem;
            }

            .route-header-text {
              display: flex;
              flex-direction: column;

              span:not(:last-child) {
                margin-bottom: 0.5rem;
              }

              .date {
                color: variables.$text-muted-color;
              }
            }
          }

          .trip-title {
            @include mixins.my(1.5rem);
          }

          .map{
            height: 75%;
            width: 100%;
          }
        }
      }


    }

  }
}
