<div class="container">
  <app-aside-layout>
    <div class="content">
      <ng-container *ngIf="wallReady">
        <div *ngIf="selectedActivity; else activitiesWall" class="details">
          <app-activity-details [id]="'activity-details'"
                                [activity]="selectedActivity"
                                (exitDetailsClick)="exitDetailsView()"
                                [type]="postType">
          </app-activity-details>
          <div class="backdrop" (click)="exitDetailsView()">
          </div>
        </div>
        <ng-template #activitiesWall>
          <app-activities-list
            style="height: 100vh"
            [activities]="activities"
            [scrollContainerId]="scrollContainerId"
            [postType]="postType"
            (activityDetailsClick)="onActivityDetailsClick($event)">
          </app-activities-list>
        </ng-template>
      </ng-container>
    </div>
  </app-aside-layout>
</div>
