<div class="container">
  <app-aside-layout>
    <div class="content">
      <h1 *ngIf="isMobileLayout" class="mobile-logo">
        <app-logo-text [routerLink]="AppRoutes.home" [lightText]="true"></app-logo-text>
      </h1>
      <app-scroll-container class="card-wrapper" [ngStyle]="{'margin-top':isMobileLayout?0:'2.5rem'}"
                            [withScrollbar]="!isMobileLayout">
        <div *ngFor="let activity of activities" class="activity-card">
          <app-glass-card>
            <app-activity-card-content
              [activity]="activity"
              card-content>
            </app-activity-card-content>
          </app-glass-card>
        </div>
      </app-scroll-container>
    </div>
  </app-aside-layout>
</div>
