<div class="container">
  <app-aside-layout>
    <div class="content">
      <h1 *ngIf="isMobileLayout" class="mobile-logo">
        <app-logo-text [routerLink]="AppRoutes.home" [lightText]="true"></app-logo-text>
      </h1>
      <app-scroll-container class="card-wrapper" [ngStyle]="{'margin-top':isMobileLayout?0:'2.5rem'}"
                            [withScrollbar]="!isMobileLayout">
        <div *ngFor="let _ of activities" class="activity-card">
          <app-glass-card>
            <div class="card-content" card-content>
              <div class="user-info">
                <app-profile-avatar></app-profile-avatar>
                <div class="route-header-text">
                  <span class="activity-info"><strong>Jessica</strong> went mountain bike riding</span>
                  <span class="date">{{'2012-04-23T18:25:43.511Z'|date:'medium'}}</span>
                </div>
              </div>
              <div class="trip-title">
                <mat-icon class="icon">directions_bike</mat-icon>
                <span>Short trip with my chonky boi</span>
              </div>
              <div class="map">
                <app-map></app-map>
              </div>
              <div class="stats">
                <div class="time">
                  <mat-icon class="icon">timer</mat-icon>
                  <span>1h 33</span>
                </div>
                <div class="distance">
                  <mat-icon class="icon">open_in_full</mat-icon>
                  <span>31.8km</span>
                </div>
                <div class="average">
                  <mat-icon class="icon">hide_source</mat-icon>
                  <span>20.6km/h</span>
                </div>
                <div class="elevation">
                  <mat-icon class="icon">north_east</mat-icon>
                  <span>150m</span>
                </div>
              </div>
              <div class="actions">
                  <mat-icon class="icon">favorite_border</mat-icon>
                  <mat-icon class="icon">chat_bubble_outline</mat-icon>
              </div>
            </div>
          </app-glass-card>
        </div>
      </app-scroll-container>
    </div>
  </app-aside-layout>
</div>
