@use "/src/app/styles/abstracts/mixins";
@use "/src/app/styles/abstracts/functions";
@use "/src/app/styles/abstracts/variables";

.container {
  @include mixins.bg-fill();
  @include mixins.max-viewport();
  background-image: functions.image("activities-bg-3.jpg");

  .content-wrapper {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;

    .content {
      height: 100%;
      width: 95%;
      display: flex;
      flex-direction: column;

      @include mixins.media(sm-medium) {
        width: 85%;
      }

      @include mixins.media(sm-large) {
        width: 95%;
      }

      @include mixins.media(md-small) {
        width: 90%;
      }

      @include mixins.media(md-large) {
        width: 90%;
      }

      @include mixins.media(lg-small) {
        width: 80%;
      }

      @include mixins.media(lg-large) {
        width: 65%;
      }

      @include mixins.media(lg-xlarge) {
        width: 55%;
      }

      .mobile-logo {
        @include mixins.my(1rem);
        @include mixins.mx(auto);
      }

      app-scroll-container {
        width: 100%;
        height: 100%;

        .content {
          width: 100%;

          .card-wrapper {
            margin-bottom: 0.25rem;

            app-user-card {
              width: 100%;
              height: 100%;
            }
          }
        }
      }

      .no-users {
        @include mixins.mx(auto);
        height: 100vh;
        width: 90%;
        display: flex;
        align-items: flex-start;

        .text {
          @include mixins.glass-effect(variables.$glass-lighter-bg);
          @include mixins.py(1.5rem);
          width: 100%;
          text-align: center;
          font-size: 16px;
          font-weight: 600;
          border-radius: 5px;

          @include mixins.media(sm-large) {
            font-size: 20px;
          }
        }
      }

      .spinner-wrapper {
        @include mixins.py(5rem);
        @include mixins.glass-effect(variables.$glass-lighter-bg);
        display: flex;
        justify-content: center;
        align-items: center;
        //height: 100vh;
      }
    }
  }
}
