// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------


/* Assets
============================================= */
$base-assets-url: "/assets/" !default;

/* Palette
============================================= */
$accent-color: #ecb767;
$primary-color: #f8f9fa;
$text-primary-color: #343a40;
$text-muted-color: #6C757D;
$glass-light-bg: linear-gradient(125deg, $primary-color 0%, rgba(248, 249, 250, 0.5) 100%);
$glass-lighter-bg: linear-gradient(125deg, $primary-color 0%, rgba(248, 249, 250, 0) 100%);
$glass-lighter-bg-reversed: linear-gradient(125deg, rgba(248, 249, 250, 0) 0%, $primary-color 100%);
$glass-lighter-bg-left-right: linear-gradient(90deg, rgba(248, 249, 250, 0.25) 0%, $primary-color 100%);

$text-font-stack: "Montserrat", sans-serif;
$base-font-size: 16px;
$breakpoints: (
  xs-small: 360px,
  xs-medium: 400px,
  xs-large: 480px,
  sm-xsmall: 600px,
  sm-small: 720px,
  sm-medium: 840px,
  sm-large: 960px,
  md-small: 1024px,
  md-large: 1280px,
  lg-small: 1440px,
  lg-large: 1600px,
  lg-xlarge: 1800px,
);
$font-size: (
  h1: 35px,
  h2: 30px,
  h3: 25px,
  h4: 20px,
  h5: 18px,
  h6: 15px,
  h7: 12px,
  h8: 8px,
);

@each $type, $value in $font-size {
  .#{$type} {
    font-size: map-get($font-size, #{$type});
    color: $text-primary-color;
  }
}
