@use "/src/app/styles/abstracts/mixins";
@use "/src/app/styles/abstracts/variables";
@use "/src/app/styles/abstracts/functions";

.mobile-logo {
  @include mixins.my(1rem);
  display: flex;
  justify-content: center;
  text-align: center;
}

.card-wrapper {
  $card-border: 25px;
  width: 95%;
  overflow: hidden;
  height: 100%;
  transition: 1s;
  @include mixins.mx(auto);

  @include mixins.media(sm-medium) {
    width: 85%;
  }

  @include mixins.media(sm-large) {
    width: 100%;
  }

  @include mixins.media(md-small) {
    width: 90%;
    ::ng-deep mat-card {
      border-radius: $card-border;
    }
  }

  @include mixins.media(md-large) {
    width: 90%;
  }

  @include mixins.media(lg-small) {
    width: 80%;
  }

  @include mixins.media(lg-large) {
    width: 65%;
  }

  @include mixins.media(lg-xlarge) {
    width: 55%;
  }


  app-scroll-container {
    overflow: hidden;
    height: 100%;
    width: 100%;

    .activity-card {
      margin-bottom: 2rem;

      &:first-child {
        margin-top: 2.5rem;
      }
    }

    .no-activities {
      @include mixins.mx(auto);
      height: 100vh;
      width: 90%;
      display: flex;
      align-items: flex-start;

      .text {
        @include mixins.glass-effect(variables.$glass-lighter-bg);
        @include mixins.py(1.5rem);
        width: 100%;
        text-align: center;
        font-size: 16px;
        font-weight: 600;
        border-radius: 5px;

        @include mixins.media(sm-large) {
          font-size: 20px;
        }
      }
    }
  }
}
