<div class="graph-wrapper fadeIn" >
  <ngx-charts-bar-vertical
    *ngIf="dataLoaded; else spinner"
    [id]="id"
    [legend]="withLegend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [yAxis]="yAxis"
    [xAxis]="xAxis"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [results]="data"
    [gradient]="withGradient"
    [scheme]="colorScheme"
    [yScaleMin]="yScaleMin ?? 0"
    [animations]="true"
    [xAxisTickFormatting]="xAxisFormat"
    [barPadding]="1"
  >
  </ngx-charts-bar-vertical>

  <ng-template #spinner>
    <div class="spinner-wrapper">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
</div>
