@use "/src/app/styles/abstracts/variables";

.scroll-container {
  height: 100%;
  width: 100%;
  overflow: auto;

  &.scrollbar-hidden {
    padding: 0;
  }


}

.scrollbar-hidden::-webkit-scrollbar {
  display: none !important;
}

.scrollbar-hidden {
  -ms-overflow-style: none !important;
}
