@use "/src/app/styles/abstracts/variables";

.scroll-container {
  height: 100%;
  width: 100%;
  overflow: auto;

  &.scrollbar-hidden {
    padding: 0;
  }

  &::-webkit-scrollbar {
    width: 15px;
  }

  &::-webkit-scrollbar-track {
  }

  &::-webkit-scrollbar-thumb {
    background: variables.$glass-lighter-bg;
    border-radius: 25px;

    &:hover {
      background: variables.$glass-light-bg;
    }
  }
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none !important;
}

.scrollbar-hidden {
  -ms-overflow-style: none !important;
}
