// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

@use "/src/app/shared/styles/abstracts/mixins";

.max-viewport {
  position: absolute;
  height: 100vh;
  width: 100vw;
}

.bg-image {
  @include mixins.bg-fill();
}
