<div class="login-page">
  <app-navbar></app-navbar>
  <div class="card-wrapper">
    <app-glass-card headerText="Sign In">
      <div class="card-content">
        <app-glass-btn (click)="onSignInClick()">
          <div class="btn-content" btn-content>
            <img class="btn-icon" [src]="getIconPath(Icons.google)" alt="google-icon" />
            <img class="btn-icon" [src]="getIconPath(Icons.github)" alt="github-icon" />
            <div text>Sign In with OAuth</div>
          </div>
        </app-glass-btn>
      </div>
    </app-glass-card>
  </div>
</div>
