<div class="login-page">
  <app-navbar></app-navbar>
  <div class="card-wrapper">
    <app-glass-card headerText="Sign In">
      <div class="card-content">
        <app-glass-btn (click)="onSignInClick()" id="oauth0-login-btn">
          <div class="btn-content">
            <img class="btn-icon" [src]="getIconPath(Icons.google)" alt="google-icon" />
            <img class="btn-icon" [src]="getIconPath(Icons.github)" alt="github-icon" />
            <img class="btn-icon" [src]="getIconPath(Icons.oauth0)" alt="oauth0-icon" />
            <div text>Continue authorization</div>
          </div>
        </app-glass-btn>
      </div>
    </app-glass-card>
  </div>
</div>
