<div class="login-page">
  <app-navbar></app-navbar>
  <div class="card-wrapper">
    <app-glass-card headerText="Sign In">
      <div class="card-content" card-content>
        <app-glass-btn>
          <div class="btn-content" btn-content>
            <img class="btn-icon" [src]="getIconPath(iconsClassRef.FACEBOOK_ICON)" alt="facebook-icon">
            <div text>Sign In with Facebook</div>
          </div>
        </app-glass-btn>
        <app-glass-btn>
          <div class="btn-content" btn-content>
            <img class="btn-icon" [src]="getIconPath(iconsClassRef.GOOGLE_ICON)" alt="google-icon" />
            <div text>Sign In with Google</div>
          </div>
        </app-glass-btn>
        <app-glass-btn>
          <div class="btn-content" btn-content>
            <img class="btn-icon" [src]="getIconPath(iconsClassRef.GITHUB_ICON)" alt="github-icon" />
            <div text>Sign In with GitHub</div>
          </div>
        </app-glass-btn>
      </div>
    </app-glass-card>
  </div>
</div>
