<div class="login-page">
  <app-navbar> </app-navbar>
  <div class="card-wrapper">
    <app-glass-card headerText="Sign In">
      <div class="card-content" card-content>
        <app-glass-btn>
          <div class="btn-content" btn-content>
            <div class="btn-icon">
              <app-fb-icon></app-fb-icon>
            </div>
            <div text>Sign In with Facebook</div>
          </div>
        </app-glass-btn>
        <app-glass-btn>
          <div class="btn-content" btn-content>
            <div class="btn-icon">
              <app-google-icon></app-google-icon>
            </div>
            <div text>Sign In with Google</div>
          </div>
        </app-glass-btn>
        <app-glass-btn>
          <div class="btn-content" btn-content>
            <div class="btn-icon">
              <app-github-icon></app-github-icon>
            </div>
            <div text>Sign In with Github</div>
          </div>
        </app-glass-btn>
      </div>
    </app-glass-card>
  </div>
</div>
