@use "/src/app/styles/abstracts/variables";
@use "/src/app/styles/abstracts/mixins";

$divider-color: #E0E0E0;

::ng-deep .mat-bottom-sheet-container {
  padding-top: 0;
}

.reaction-wrapper {
  padding: 1rem 0.5rem;
  display: flex;
  flex-direction: column;

  &:hover {
    background: $divider-color;
  }

  .user {
    display: flex;
    flex-direction: row;

    .name {
      display: flex;
      align-items: center;
      font-weight: 600;
      cursor: pointer;
    }

    app-profile-avatar {
      width: 35px;
      margin-right: 1rem;
      cursor: pointer;
    }
  }

  .icon-wrapper {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .icon {
      cursor: pointer;
    }
  }


  .no-reactions {
    width: 100%;
    text-align: center;
    color: variables.$text-muted-color;
    justify-content: center;
  }
}

.divider {
  height: 1px;
  width: 100%;
  background: $divider-color;
}

.spinner-wrapper {
  @include mixins.py(5rem);
  display: flex;
  justify-content: center;
}
