@use "/src/app/styles/abstracts/variables";

.time-range{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 2rem;
  width: 100%;

  mat-icon{
    color: variables.$text-muted-color;
  }
}
