<div class="container">
  <app-aside-layout>
    <div class="content">
      <form (ngSubmit)="onSubmit(query)" class="search-form">
        <mat-form-field appearance="outline" class="search-input" color="accent">
          <mat-label>Expand your horizons</mat-label>
          <input matInput placeholder="Search for the name"
                 [(ngModel)]="searchQuery"
                 (ngModelChange)="onModelChange(query)"
                 name="search" #query="ngModel"
                 minlength="3" maxlength="100" [inputFocus]="true">
          <mat-icon matSuffix class="search-icon" (click)="onSubmit(query)">search</mat-icon>
          <button type="submit" style="display: none"></button>
        </mat-form-field>
      </form>
      <div *ngIf="queryIsValid(query)" class="user-list-wrapper" >
        <app-user-list [userList]="userList">
        </app-user-list>
      </div>
    </div>
  </app-aside-layout>
</div>
