@use "/src/app/styles/abstracts/mixins";
@use "/src/app/styles/abstracts/variables";

.content-wrapper {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;

  .mobile-logo {
    @include mixins.my(1rem);
    @include mixins.mx(auto);
  }

  app-scroll-container {
    width: 100%;
    height: 100%;

    .content {
      width: 100%;

      .user-card-wrapper {
        margin-bottom: 0.25rem;
        border-radius: 5px;

        app-user-card {
          width: 100%;
          min-height: 90px;
          margin-bottom: 0.25rem;
          border-radius: 5px;
          cursor: pointer;

          .chips{
            margin-left: 1rem;
          }
        }
      }
    }
  }

  .no-users {
    @include mixins.mx(auto);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-start;

    .text {
      @include mixins.glass-effect(variables.$glass-lighter-bg);
      @include mixins.py(1.5rem);
      width: 100%;
      text-align: center;
      font-size: 16px;
      font-weight: 600;
      border-radius: 5px;

      @include mixins.media(sm-large) {
        font-size: 20px;
      }
    }
  }
}
