<app-scroll-container [id]="'followers-list'"
                      [withScrollbar]="!isMobileLayout"
                      [initialScrollTopOffsetPx]="0">
  <div class="content">
    <div *ngFor="let user of userList" class="card-wrapper">
      <app-glass-card [borderRadius]="'0px'" (click)="onUserClick(user)">
        <div class="user">
          <app-profile-avatar [id]="user.id"
                              [avatarImgPath]="user.profilePicture"
                              [nickname]="user.nickname"
          ></app-profile-avatar>
          <label [for]="user.id" class="name">{{user.nickname}}</label>
        </div>
      </app-glass-card>
    </div>
  </div>
</app-scroll-container>
