<div class="aside-mobile">
  <ng-container *ngIf="withAvatar">
    <div *ngIf=" currentUserService.currentUser$ | async as user" class="avatar-wrapper">
      <app-profile-avatar [fadeIn]="false"
                          [nickname]="user.nickname"
                          [avatarImgPath]="user.profilePicture"
                          [userId]="user.id"
                          (click)="onHamburgerMenuClick()">
      </app-profile-avatar>
    </div>
  </ng-container>
  <div class="menu">
    <img
      class="icon"
      alt="hamburger-menu-icon"
      [src]="getIconPath(Icons.hamburgerMenu)"
      (click)="onHamburgerMenuClick()"
    />
  </div>
</div>
