@use "/src/app/styles/abstracts/mixins";

.graph-wrapper {
  margin-bottom: 2.5rem;
  width: 100%;
  height: 100%;

  .spinner-wrapper {
    @include mixins.py(2.5rem);
    display: flex;
    justify-content: center;
  }
}


