<div class="graph-wrapper">
  <ngx-charts-area-chart
    *ngIf="dataLoaded; else spinner"
    [id]="id"
    [legend]="withLegend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxis]="xAxis"
    [yAxis]="yAxis"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [results]="data"
    [gradient]="withGradient"
    [scheme]="colorScheme"
  >
  </ngx-charts-area-chart>

  <ng-template #spinner>
    <div class="spinner-wrapper">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
</div>
