<div class="layout">
  <ng-container *ngIf="layoutService.layoutType===LayoutTypeEnum.ASIDE_MOBILE; else nativeLayout">
    <app-aside-mobile (hamburgerMenuClick)="drawer.toggle()"
                      [withAvatar]="!layoutService.drawerIsOpen"></app-aside-mobile>
    <mat-drawer-container hasBackdrop="true">
      <mat-drawer
        #drawer
        mode="over"
        class="drawer"
        (openedStart)="onDrawerOpenStart()"
        (closedStart)="onDrawerCloseStart()"
      >
        <app-drawer-menu [menuForMobile]="true" (closeDrawer)="drawer.close()"></app-drawer-menu>
      </mat-drawer>
      <mat-drawer-content>
        <div [ngTemplateOutlet]="content"></div>
      </mat-drawer-content>
    </mat-drawer-container>
  </ng-container>
  <ng-template #nativeLayout>
    <div class="native-menu">
      <app-drawer-menu [menuForMobile]="false"></app-drawer-menu>
    </div>
    <div class="page-content">
      <div [ngTemplateOutlet]="content"></div>
    </div>
  </ng-template>

  <ng-template #content>
    <ng-content></ng-content>
  </ng-template>
</div>
