@use "/src/app/styles/abstracts/mixins";
@use "/src/app/styles/abstracts/variables";
@use "/src/app/styles/abstracts/functions";

.container {
  @include mixins.bg-fill();
  @include mixins.max-viewport();
  background-image: functions.image("home-3.jpg");

  .content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transition: 0.25s;

    .sub-logo {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      .text {
        @include mixins.gradient-text($gradient: variables.$glass-lighter-bg-bottom-top);
        margin-bottom: 3.5rem;
        font-weight: 600;

        @include mixins.media(xs-small) {
          font-size: map-get(variables.$font-size, h2);;
        }

        @include mixins.media(xs-medium) {
          font-size: map-get(variables.$font-size, h1);;
        }

        @include mixins.media(sm-large) {
          font-size: 45px
        }

        @include mixins.media(md-large) {
          font-size: 55px
        }

        @include mixins.media(lg-large) {
          font-size: 65px;
          margin-bottom: 2.5rem;
        }
      }
    }

    .logo {
      margin-top: 1.5rem;
    }
  }
}
