@use "/src/app/styles/abstracts/mixins";
@use "/src/app/styles/abstracts/functions";
@use "/src/app/styles/abstracts/variables";

.avatar {
  @include mixins.bg-fill();
  width: 100%;
  position: relative;
  padding-top: 100%;
  height: auto;
  border-radius: 50%;
  border-color: variables.$text-muted-color;
}
