@use "/src/app/shared/styles/abstracts/mixins";
@use "/src/app/shared/styles/abstracts/functions";
@use "/src/app/shared/styles/abstracts/variables";

.avatar {
  @include mixins.bg-fill();
  width: 100%;
  position: relative;
  padding-top: 100%;
  height: auto;
  border-radius: 50%;
  border: 1px solid variables.$primary-color;
}
