<div class="card-content">
  <div class="user-info">
    <app-profile-avatar [nickname]="activity.user.nickname"
                        [routerLink]="userProfileLink"
                        [avatarImgPath]="activity.user.profilePicture"></app-profile-avatar>
    <div class="route-header-text">
      <span class="activity-info">
        <strong class="cursor-pointer" [routerLink]="userProfileLink">{{activity.user.nickname}}</strong> went bike riding
      </span>
      <span class="date">{{activity.createdAt|date:'medium'}}</span>
    </div>

    <div [ngTemplateOutlet]="actions"></div>
    <div [ngTemplateOutlet]="stats"></div>
  </div>
  <div class="trip-title">
    <mat-icon class="icon">directions_bike</mat-icon>
    <span class="cursor-pointer" (click)="detailsClick.emit()">{{activity.title}}</span>
  </div>
  <div class="map fadeIn">
    <app-map [disabledInteractions]="disableMapInteractions" [routePoints]="routes"></app-map>
  </div>
  <div class="bottom">
    <div [ngTemplateOutlet]="stats"></div>
  </div>
  <div class="bottom">
    <div [ngTemplateOutlet]="actions"></div>
    <div class="social-stats">
      <div style="cursor: pointer" (click)="openReactionsSheet()">
        <mat-icon id="like-stat" class="icon" [ngClass]="{'liked':alreadyReacted}">
          {{ alreadyReacted ? 'favorite' : 'favorite_border' }}
        </mat-icon>
        <label for="like-stat" class="text">{{activity.reactionsCount}}</label>
      </div>
      <div style="cursor: pointer" (click)="openCommentsSheet()">
        <mat-icon id="comment-stat" class="icon">chat_bubble_outline</mat-icon>
        <label for="comment-stat" class="text">{{activity.commentsCount}}</label>
      </div>
    </div>
  </div>
  <ng-template #actions>
    <div class="actions">
      <div class="action cursor-pointer" (click)="onReactionBtnClick()">
        <mat-icon class="icon" id="like"
                  [ngClass]="{'liked':alreadyReacted}">{{ alreadyReacted ? 'favorite' : 'favorite_border' }}</mat-icon>
        <label for="like" class="text cursor-pointer">
          <span class="count">{{activity.reactionsCount}}</span><span class="action-name">Like</span>
        </label>
      </div>
      <div class="action cursor-pointer" (click)="openCommentsSheet(true)">
        <mat-icon class="icon" id="comment">chat_bubble_outline</mat-icon>
        <label for="comment" class="text cursor-pointer">
          <span class="count">{{activity.commentsCount}}</span><span class="action-name">Comment</span>
        </label>
      </div>
      <!-- TODO: Integrate with backend -->
      <div *ngIf="type===PostType.eventPost" class="action cursor-pointer" (click)="alreadyJoinedToEvent ? joinEvent() : leaveEvent()">
        <mat-icon class="icon" id="join-leave-event">
          {{ alreadyJoinedToEvent ? 'person_add' : 'person_add_disabled' }}
        </mat-icon>
        <label for="comment" class="text cursor-pointer">
          <span class="action-name">{{alreadyJoinedToEvent ? 'Join' : 'Leave'}}</span>
        </label>
      </div>
    </div>
  </ng-template>

  <ng-template #stats>
    <div class="stats">
      <div *ngIf="withTime" class="time">
        <mat-icon class="icon">timer</mat-icon>
        <span>{{getActivityDurationText()}}</span>
      </div>
      <div class="distance">
        <mat-icon class="icon">open_in_full</mat-icon>
        <span>{{ totalDistanceText }}</span>
      </div>
      <div *ngIf="withAvgSpeed" class="average">
        <mat-icon class="icon">hide_source</mat-icon>
        <span>{{ avgSpeedText }}</span>
      </div>
      <div class="elevation">
        <mat-icon class="icon">north_east</mat-icon>
        <span>{{avgElevationText}}</span>
      </div>
      <div *ngIf="withEventStartDate" class="event-start-date">
        <mat-icon class="icon">date_range</mat-icon>
        <span>{{eventStartDateText}}</span>
      </div>
      <div *ngIf="withEventDurationTime" class="event-duration-time">
        <mat-icon class="icon">query_builder</mat-icon>
        <span>{{eventDurationTimeText}}</span>
      </div>
    </div>
  </ng-template>
</div>
