@use "/src/app/styles/abstracts/mixins";
@use "/src/app/styles/abstracts/functions";

.container {
  @include mixins.bg-fill();
  @include mixins.max-viewport();
  background-image: functions.image("1.jpg");
  height: 100vh;

  .content {
    @include mixins.full-page-list-wrapper();
    height: 100vh;

    .title {
      @include mixins.py(2rem);
      font-size: 25px;
      font-weight: 600;
      display: flex;
      justify-content: center;
    }
  }
}
