@use "/src/app/styles/abstracts/mixins";
@use "/src/app/styles/abstracts/functions";

.container {
  @include mixins.bg-fill();
  @include mixins.max-viewport();
  background-image: functions.image("activities-bg-3.jpg");
  height: 100vh;

  .content{
    @include mixins.full-page-list-wrapper();
    height: 100vh;
  }
}
