@use "/src/app/styles/abstracts/mixins";
@use "/src/app/styles/abstracts/variables";

app-scroll-container {
  width: 100%;
  min-height: 100vh;
  height: 100%;

  app-glass-card {
    height: 100%;
    width: 100%;

    .full-stats {
      @include mixins.my(0.5rem);
      display: flex;
      flex-flow: row wrap;
      justify-content: space-evenly;

      @include mixins.media(md-small) {
        justify-content: center;
      }

      .stat {
        @include mixins.my(1rem);
        display: flex;
        flex-direction: row;
        margin-right: 1rem;
        align-items: center;
        width: 200px;

        .icon {
          margin-right: 0.5rem;

          &.distance {
            transform: rotateZ(-135deg) translateY(-3px);
          }

          &.pressure-min {
            transform: rotateZ(-180deg);
          }

          &.pressure-avg {
            transform: rotateZ(90deg);
          }
        }

        .details {
          display: flex;
          flex-direction: column;

          .label {
            font-weight: 600;
            margin-bottom: 0.5rem;
          }
        }
      }
    }

    .description {
      @include mixins.media(sm-small) {
        @include mixins.px(1rem);
      }

      .label {
        @include mixins.my(2rem);
        font-weight: 600;
        font-size: 18px;

        @include mixins.media(md-large) {
          font-size: 20px;
        }
      }

      .content {
        font-size: 14px;


        @include mixins.media(xs-medium) {
          font-size: 16px;
        }

        @include mixins.media(md-large) {
          font-size: 18px;
        }
      }

    }

    .graph-plot {
      margin-top: 1.5rem;

      &:last-child {
        margin-bottom: 1.5rem;
      }

      @include mixins.media(sm-xsmall) {
        margin-top: 2rem;
        bottom: 2rem;
      }

      @include mixins.media(sm-small) {
        @include mixins.px(1rem);
      }


      .label {
        @include mixins.my(2rem);
        font-weight: 600;
        font-size: 18px;

        @include mixins.media(md-large) {
          font-size: 20px;
        }
      }

      .graph {
        height: 150px;
        width: 100%;
        margin-bottom: 2.5rem;

        @include mixins.media(md-large) {
          height: 250px;
        }
      }

      .stats {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 2rem;
        font-size: 11px;

        @include mixins.media(xs-large) {
          font-size: 15px;
        }

        @include mixins.media(sm-xsmall) {
          font-size: 18px;
        }

        .name {
          font-weight: 600;
          margin-right: 0.5rem;

          @include mixins.media(sm-xsmall) {
            margin-right: 1rem;
          }
        }
      }
    }

    .spinner-wrapper {
      @include mixins.py(2.5rem);
      display: flex;
      justify-content: center;
    }

    .back-to-wall-btn {
      margin-top: 2.5rem;

      .content {
        display: flex;
        flex-direction: row;
        justify-content: center;

        .icon {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

    }
  }
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 1px solid variables.$text-muted-color;
  opacity: 0.1;
}
