<app-scroll-container [id]="id" [withScrollbar]="!isMobileLayout">
  <app-glass-card [borderRadius]="'0'">
    <div class="basic-details">
      <app-activity-card-content
        [disableMapInteractions]="false"
        [route]="getRouteData(activity)"
        [startTime]="getStartTimeData(activity)"
        [endTime]="getEndTimeData(activity)"
        [averageSpeed]="getAvgSpeedData(activity)"
        [activity]="activity"
        [type]="type"
      ></app-activity-card-content>
    </div>

    <div class="description">
      <div class="label">Description</div>
      <div class="content">
        {{ activity.description }}
      </div>
    </div>

    <div *ngIf="speedProvided" class="graph-plot">
      <div class="label">Speed</div>
      <div class="graph">
        <app-area-graph [id]="'speed-graph'"
                        [label]="'Speed'"
                        [data]="speedPlotData"
                        [xAxis]="false"
                        [colorScheme]="speedColorScheme"
                        [yScaleMin]="minSpeed ?? 0"
        >
        </app-area-graph>
      </div>
      <div class="stats">
        <div>
          <span class="name">Max speed:</span>
          <span>{{ maxSpeed | number:numberFormat }}km/h </span>
        </div>
        <div>
          <span class="name">Avg speed:</span>
          <span>{{ avgSpeed | number:numberFormat}}km/h</span>
        </div>
      </div>
    </div>

    <div class="graph-plot">
      <div class="label">Elevation</div>
      <div class="graph">
        <app-area-graph [id]="'elevation-graph'"
                        [label]="'Speed'"
                        [data]="elevationPlotData"
                        [xAxis]="false"
                        [colorScheme]="elevationColorScheme"
                        [yScaleMin]="lowestPoint ?? 0"
        >
        </app-area-graph>
      </div>
      <div class="stats">
        <div>
          <span class="name">Highest point:</span>
          <span>{{ highestPoint | number:numberFormat}}m</span>
        </div>
        <div>
          <span class="name">Lowest point:</span>
          <span>{{ lowestPoint |number:numberFormat}}m</span>
        </div>
      </div>
    </div>

    <div *ngIf="speedProvided" class="graph-plot">
      <div class="label">Speed + Elevation</div>
      <div class="graph">
        <app-area-graph [id]="'combined-graph'"
                        [label]="'Speed'"
                        [data]="combinedPlotData"
                        [xAxis]="false"
                        [colorScheme]="combinedColorScheme"
                        [yScaleMin]="yScaleMinCompound"
        >
        </app-area-graph>
      </div>
    </div>

    <div *ngIf="isMobileLayout" (click)="exitDetailsClick.emit()" class="back-to-wall-btn">
      <app-glass-btn>
        <div class="content" btn-content>
          <div class="icon">
            <mat-icon>chevron_left</mat-icon>
          </div>
          <span>Back to the wall</span>
        </div>
      </app-glass-btn>
    </div>

  </app-glass-card>
</app-scroll-container>
