<app-scroll-container [id]="id" [withScrollbar]="!isMobileLayout">
  <app-glass-card [rounded]="false">
    <div class="basic-details">
      <app-activity-card-content [activity]="activity"></app-activity-card-content>
    </div>
    <div class="graph-plot">
      <div class="h3 label">Speed</div>
      <div class="graph">
        <app-area-graph [id]="'speed-graph'"
                        [label]="'Speed'"
                        [data]="this.activityDetails?.speedPlot"
                        [xAxis]="false">
        </app-area-graph>
      </div>
    </div>
  </app-glass-card>
</app-scroll-container>
