@use "/src/app/styles/abstracts/mixins";
@use "/src/app/styles/abstracts/variables";
@use "/src/app/styles/abstracts/functions";

.aside-mobile {
  @include mixins.glass-effect(variables.$glass-lighter-bg);
  @include mixins.py(1rem);
  width: 50px;
  height: 100vh;

  .avatar-wrapper {
    padding: 0.5rem;
  }

  .menu {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .icon {
      cursor: pointer;
    }
  }
}


