@use 'keyframes';

// -----------------------------------------------------------------------------
// This file contains application-wide animation css classes.
// -----------------------------------------------------------------------------

.fadeIn {
  animation: fadeIn 0.5s linear 1 normal forwards;
}

.fadeOut {
  animation: fadeOut 1s linear 1 normal forwards;
}

.heartbeat {
  animation: heartbeat 3.5s ease-in-out infinite both;
}
