// -----------------------------------------------------------------------------
// This file contains all application-wide keyframes.
// -----------------------------------------------------------------------------


@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.9);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.8);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}
